{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="cont">
	<div id="wrapper">
	<div class="contact-us">
		<h2>Contact Us</h2>
		<ul>
			<li><i class="las la-map-marker"></i>32 Avenue Park, New York, 321897, NY</li>
			<li><i class="las la-envelope-open"></i> info@loremipsum.com</li>
			<li><i class="las la-phone"></i> +217 8969 5354</li>
			<li><i class="las la-globe-americas"></i> +217 789 456</li>
		</ul>
	</div>
	<div class="get-in-touch">
				<h2>Get in Touch</h2>
		<p>Feel free to contact us</p>
		<form action="#">
			<input type="text" placeholder="Your Name">
			<input type="email" placeholder="Your Email">
			<textarea name="" id="" placeholder="Type your message here" value="Type your message here"></textarea>
					<input type="submit" value="send" name="">

		</form>

	</div>
</div>
</div>


{% endblock content %}

