{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="job-heading">Explore Job By Categories</h2>

<div class="job">
    <div class="icon-box">
        <img src="{% static 'images/finance.png' %}" alt="Accounting Icon">
        <h3><a href="{% url 'finance' %}">Finance</a></h3>
        <p>100 open positions</p>
    </div>

    <div class="icon-box">
        <img src="{% static 'images/education.png' %}" alt="Education Icon">
        <h3><a href="{% url 'education' %}">Education</a></h3>
        <p>100 open positions</p>
    </div>

    <div class="icon-box">
        <img src="{% static 'images/programmer.png' %}" alt="Programmer Icon">
        <h3><a href="{% url 'programmer' %}">Programmer</a></h3>
        <p>100 open positions</p>
    </div>

    <div class="icon-box">
        <img src="{% static 'images/consultancy.png' %}" alt="Consultancy Icon">
        <h3><a href="{% url 'consult' %}">Consultancy</a></h3>
        <p>100 open positions</p>
    </div>

    <div class="icon-box">
        <img src="{% static 'images/production.png' %}" alt="Production Icon">
        <h3><a href="{% url 'production' %}">Production</a></h3>
        <p>100 open positions</p>
    </div>

    <div class="icon-box">
        <img src="{% static 'images/design.png' %}" alt="UX/UI Icon">
        <h3><a href="{% url 'design' %}">UX/UI</a></h3>
        <p>100 open positions</p>
    </div>
</div>

{% endblock content %}